@charset "utf-8";
	/* CSS Document */
ul,li,h1,h2,h3,p {
	padding:0;
	margin:0;
	list-style:none
}
a {
	text-decoration:none;
	color:#000
}
body {
	margin:0 auto;
	line-height:21px;
	background:#fff
}
.clear {
	clear:both
}
.menu li {
	list-style:none
}
.logo {
	clear:both;
	background:#000;
	width:100%;
	text-align:center;
	padding:20px 0;
}
.banner {
	position:relative;
	clear:both;
}
.center {
	width:1200px;
	text-align: center;
	margin:0 auto
}
.menu {
	width:100%;
	text-align:center;
	float:left;
	background:#111;
	border-top:#444 solid 1px
}
.menu li a {
	display:block;
	padding:10px 20px;
	color:#fff
}
.menu li {
	border-right:#555 solid 1px;
	float:left;
	padding:5px 0px;
	width:199px;
}
.imglist li {
	width:300px;
	height:200px;
	overflow:hidden;
}
.imglist li img {
	padding:15px;
	box-sizing:border-box;
	background:#ccc;
	width:100%;
	height:100%;
	object-fit:cover;
}
.right {
	float:right;
	width:500px;
}
.right h2 {
	font-size:24px;
	line-height:40px
}
.right h3 {
	font-size:20px;
	margin-top:40px;
}

.banner img{
	width:80%;
	/* height: 200px; */
}
.left {
	float:left;
	width:460px;
}
.content {
	clear:both;
	background:#fff;
	font-size:14px;
	display:block;
}
.coms {
	padding:30px 0
}
.end {
	clear:both;
	background:#000;
	color:#fff;
	padding:30px 0;
	margin-top:30px;
	text-align:center;
}
.pad {
	padding:5px;
	display:block;
	margin:5px;
	margin-top:20px
}
.gm {
	padding:10px 0;
	background:#333333;
	color:#fff;
	border:none;
	border-radius:30px;
	margin-top:150px;
	width:100%
}
.imglist {
	width:100%;
	margin:0 auto
}
.imglist li {
	float:left;
	width:320px;
	margin:10px;
	text-align:center
}
.scrollleft li {
	float:left;
	width:385px;
	line-height:28px;
	margin:20px 10px
}
.scrollleft li strong {
	display:block;
	font-size:18px;
	font-weight:normal;
	padding-top:15px;
	text-align:center;
	margin-bottom:15px
}
.xia {
	margin:20px 0;
	width:100%;
	float:left
}
.xia>div {
	float:left;
	width:49%;
}
.xia>div.x1 {
	float:right
}
.fu {
	/* margin-left:-10px;
	margin-right:-10px; */
	/* margin: 0 auto; */
	text-align: center;

}
.title {
	text-align:center;
	color:#F00;
	padding:30px 0;
	font-size:24px;
	font-weight:normal;
}
.center .text{
	width: 600px;
	height: 300px;
	margin: 0 auto;
	text-align: left;
}

.fl {
	float:left
}
.bar {
	margin:15px 0px;
	clear:both;
	background:#000;
	color:#fff;
	text-align:center;
	font-size:18px;
	padding:10px 5px;
	font-weight:bold;
	width: 100%;
}
.bar h3 {
	font-size:16px;
	font-weight:normal
}
.text {
	line-height:28px;
}
.text img {
	text-align:center;
	display:block;
	margin:20px auto;
}
form .in {
	margin-bottom:10px;
}
form .in p {
	margin-bottom:10px;
}
form .in .phone {
	width:100%;
	height:40px;
	border:1px solid #666;
}
form .in .phone.oh {
	height:90px;
}
form .but {
	width:140px;
	height:40px;
	color:#fff;
	background:#000;
	border:none;
}
.neirong li {
	float:left;
	margin:10px;
	width:310px;
}
.neirong li img {
	width:100%;
	height:200px;
}
.neirong li p {
	line-height:60px;
	text-align:center;
}
#wrap {
	overflow:hidden;
	position:relative;
	width:1226px;
	height:580px;
	margin:20px auto 0;
	clear:both
}
#wrap .img-list {
	display:flex;
	position:relative;
	left:0px;
	width:100%;
	height:100%;
	transition:0.5s ease;
}
#wrap .img-list img {
	width:100%;
	height:100%;
	cursor:pointer;
}
#wrap a {
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	display:block;
	width:40px;
	height:70px;
	background-color:rgba(0,0,0,0.7);
	color:white;
	user-select:none;
	font-size:30px;
	text-align:center;
	line-height:70px;
	text-decoration:none;
}
#wrap a.left {
	left:0;
}
#wrap a.right {
	right:0;
}
.circle-list {
	display:flex;
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translate(-50%,0);
	width:240px;
	height:40px;
	z-index:8;
}
.circle-list > .circle {
	margin:0 5px;
	width:40px;
	height:40px;
	background-color:#ecf0f1;
	border-radius:50%;
}
.circle-list > .circle.active {
	background-color:#e74c3c;
}
.index {
	clear:both;
	padding:40px 0;
	border-bottom:#ccc dashed 1px
}
.index .fr {
	margin-right:0;
	margin-left:50px;
}
.index img {
	margin-right:50px;
}
.fr {
	float:right;
}
.index h3 {
	color:#FF6633;
	font-size:18px;
	margin-bottom:20px;
}
.con {
	max-width:800px;
	margin:20px auto
}
.focus {
	height:500px;
	overflow:hidden;
	position:relative;
}
/* focus_s */
.focus_s {
	position:absolute;
	left:50%;
	bottom:5%;
	height:13px;
	overflow:hidden;
	width:110px;
	z-index:9;
	margin:0 0 0 -30px;
}
.focus_s li {
	float:left;
	cursor:pointer;
	height:13px;
	width:12px;
	overflow:hidden;
	margin-right:10px;
	background:url(../images/dian.png) no-repeat;
}
.focus_s li.active {
	background-position:-12px 0;
}
/* focus_m */
.focus_m ul {
	opacity:1;
	filter:alpha(opacity=100);
}
.focus_m li {
	width:100%;
	height:500px;
	position:absolute;
	top:0;
	left:0;
}
/* focus_l focus_r */
.focus_l,.focus_r {
	position:absolute;
	display:block;
	width:50px;
	height:85px;
	overflow:hidden;
	z-index:2;
	top:170px;
}
.focus_l {
	left:0;
}
.focus_r {
	right:0;
}
.focus_l b,.focus_r b {
	position:absolute;
	z-index:1;
	display:block;
	width:50px;
	height:85px;
	overflow:hidden;
	background:#fff;
	opacity:0.3;
	filter:alpha(opacity=30);
	cursor:pointer;
}
.focus_l span,.focus_r span {
	display:inline-block;
	position:relative;
	z-index:2;
	width:22px;
	height:45px;
	top:21px;
	cursor:pointer;
	margin-right:28px;
}
.focus_l span {
	left:12px;
	background-image:url(../images/l.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/l.png');
}
.focus_r span {
	left:16px;
	background:url(../images/r.png) 0 0 no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/r.png');
}
.focus_l:hover b,.focus_r:hover b {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.focus_l span,.focus_r span {
	background-size:cover
}
#contents {
	margin-top:0px;
}
#contents form {
	width:500px;
	margin:0 auto
}
#form-itemGroup {
	padding:10px;
}
#form-itemGroup label {
	display:inline-block;
	width:100px;
	height:32px;
	line-height:32px;
	color:#666;
	text-align:right;
}
#form-itemGroup .userName {
	width:320px;
	height:40px;
	line-height:40px;
	border:1px solid #CCC;
}
#form-itemGroup .default {
	width:240px;
	height:32px;
	line-height:32px;
	color:#999;
}
#form-itemGroup .error {
	height:32px;
	line-height:32px;
	color:#F00;
}
#form-itemGroup .success {
	height:32px;
	line-height:32px;
	color:#096;
}
.divBtn {
	margin-top:20px;
	margin-left:114px;
	width:322px;
	height:42px;
	line-height:42px;
	background-color:#336699;
	margin-bottom:10px;
	color:#ffffff;
	font-size:20px;
	border:none;
}
